.header__container {
  height: 60px;
  border: 5px inset #ececec;
  position: relative;
}

.header__face {
  width: 39px;
  height: 39px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-image: url('../assets/sprite150.gif');
}

.header__face:hover {
  cursor: pointer;
}

.facesmile {
  background-position: 0 -83px;
}

.facedead {
  background-position: -117px -83px;
}

.facewin {
  background-position: -156px -83px;
}

.game__container .facepressed {
  background-position: -39px -83px;
}

.game__container .faceooh {
  background-position: -78px -83px;
}
